#footer {
    padding: 60px 0 100px 0;
    display: flex;
    align-items: center;
    background: $white;

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        p {
            font-size: 15px;
            color: #6e6e6e;
            line-height: 1.7;
        }

        .footer_title {
            font-weight: $font_regular;
            font-size: 16px;
            display: block;
            width: 100%;
        }

        .footer_content {
            display: flex;
            flex-wrap: wrap;
            margin-left: 70px;

            .footer_info:last-of-type {
                margin-left: 25px;
            }
        }
    }
}