.hero {
    @include bg-img();
    height: auto;
    min-height: 470px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;

    .row {
        width: 100%;
    }

    h1, h2 {
        margin: 0;
        color: #fff;
    }
}

@include viewport (tablet) {
    .hero {
        align-items: center;
        min-height: 800px;
        padding: 0;
    }
}