.history {
    .hero {
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }

    .content {
        .content_block {
            position: relative;

            .row {
                padding: 100px 0;

                .center {
                    align-self: center;
                }
            }
        }

        .bg_color {
            background: $light_gray;

            .row {
                flex-direction: row-reverse;

                .col-6 {
                    position: relative;

                    img {
                        position: absolute;
                        
                        @include centerer;
                    }
                }
            }
        }

        .quote_block {
            .quote {
                align-self: center;
                padding-left: 33px;
                
                p {
                    font-size: 36px;
                    color: $dark_blue;
                }
            }
        }

        .full_height {
            h3, p {
                color: $white;
                font-weight: $font-extra-light;
            }

            h3 {
                font-size: 40px;
                margin: 0;

                @include responsive-font(28, 40);
            }

            p {
                line-height: 1.7;
            }
        }
    }
}