.history {
    .hero {
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        padding-bottom: 40px;

        h2 {
            // font-size: 26px;
            @include responsive-font(20, 26);
            margin-top: 10px;
            font-weight: $font-regular;
        }
    }

    .history_teaser, .history_final {
        text-align: center;
        padding-top: 40px;

        p {
            color: #606060;
            font-size: 20px;
            font-weight: $font-extra-light;
        }
    }

    .content {
        h3 {
            font-size: 26px;
            font-weight: $font-regular;
        }

        h4 {
            font-size: 22px;
            font-weight: $font-regular;
        }

        .content_block {
            position: relative;

            .row {
                padding: 40px 0;

                @include viewport(tablet) {
                    padding: 100px 0;
                }

                .center {
                    align-self: center;
                }
            }
        }

        .bg_color {
            background: $light_gray;

            @include viewport(tablet) {
                margin-top: 80px;
            }

            .row {
                flex-direction: row-reverse;

                .col-6 {
                    position: relative;

                    img {
                        @include viewport (tablet) {
                            position: absolute;
                            z-index: 1;
                            
                            @include centerer;
                        }
                    }
                }
            }
        }

        .quote_block {
            margin-bottom: 40px;

            @include viewport(tablet) {
                margin-bottom: 100px;
            }

            .quote {
                align-self: center;
                padding-left: 33px;
                
                p {
                    font-size: 36px;
                    color: $dark_blue;
                }
            }
        }

        .full_height {
            padding: 20px 0;
            // margin-top: 40px;

            @include viewport(tablet) {
                // margin-top: 80px;
            }  

            h3, p {
                color: $white;
                font-weight: $font-extra-light;
            }

            img {
                height: 100%;
                object-fit: cover;
            }

            h3 {
                font-size: 40px;
                margin: 0;

                @include responsive-font(28, 40);
            }

            p {
                line-height: 1.7;
            }
        }
    }
}

@include viewport (tablet) {
    .history {
        .history_teaser {
            text-align: center;
            padding-top: 120px;
            padding-bottom: 50px;

            p {
                font-size: 26px;
            }
        }

        .hero {
            padding-bottom: 100px;
        }

        .content {
            p {
                font-size: 20px;
            }
        }
    }
}

@include viewport (tabletMax) {
    .history {
        .history_final {
            @include grid-offset-left(1);
            @include grid-offset-right(1);
        }

        .content {
            .full_height {

                img {
                    height: auto;
                }

                h3, p {
                    color: $text-color;
                }
            }
        }
    }
}