.single_hero {
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        right: -100px;
        bottom: 0;
    }
    
    h1 {
        margin-bottom: 10px;
        span {
            font-size: 30px;
            font-weight: $font-regular;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: $font-light;
        width: 100%;
        max-width: 650px;
        margin-bottom: 20px;
        @include responsive-font(16, 28);

        @include viewport(tablet) {
            margin-bottom: 40px;
        }

    }

    .btn-buy {
        @include reset-anchor;

        font-size: 16px;
        font-weight: $font-medium;
        text-transform: uppercase;
        color: $dark-blue;
        letter-spacing: 0.05em;
        background: #fff;
        padding: 8px 60px;
        transition: .35s ease-in-out;

        &:hover {
            background: #cecece;
        }

       @include viewport(tablet) {
            font-size: 20px;
            padding: 8px 90px;
        
       } 
    }
}

.single_product {

    .product_info {
        padding-top: 60px;

        .info_description h3 {
            color: $dark-blue;
            font-weight: $font-regular;
            font-size: 22px;
        }

        .col-6 {
            @include grid-col(12);
        }

        .info_img {
            align-self: flex-end !important;
        }

        .info_type {
            font-size: 16px;
            font-weight: $font-regular;
        }

        .price_size {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-top: 1px solid #d3d4d6;
            border-bottom: 1px solid #d3d4d6;
            padding-bottom: 30px;
            margin-top: 20px;
            

            .price {
                p {
                    span {
                        display: block;
                        font-size: 32px;
                        color: $dark_blue;
                    }
                }
            }

            .color {
                height: 35px;
                width: 35px;
                display: inline-block;
                border: 1px solid #d3d4d6;
            }

            .info_table {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                .convert_sizes {
                    font-size: 13px;
                    cursor: pointer;
                    overflow: hidden;
                    position: relative;
                    padding-bottom: 3px;
                    @include underline;
                    
                }
                
                .table {
                    border: 1px solid #d3d4d6;

                    thead {
                        background: #f8f8f8;

                        th {
                            font-weight: $font-regular;
                            border: 0;

                            &:first-of-type {
                                display: table-caption;
                            }
                        }
                    }

                    tbody {
                        td {
                            text-align: center;

                            &:first-of-type {
                                text-align: left;
                            }
                        }
                    }

                    tr, td {
                        color: #606060;
                        font-size: 13px;
                        font-weight: $font-light; 
                    }

                    tr {
                        border: 1px solid #d3d4d6;
                    }
                }
            } 
        }

        .qualities {
            display: flex;
            justify-content: space-between;

            ul {
                margin-left: 13px;
            }

            .purchase-link {
                cursor: pointer;
                text-decoration: none;
                
                p {
                    font-size: 16px;
                }
            }

            ul {
                padding: 0;

                li {
                    font-size: 10px;
                    letter-spacing: 0.01em;

                    span {
                        font-size: 14px;
                        font-weight: $font-regular;
                    }
                }
            }
        }

        .product_details {
            padding-bottom: 40px;
            background: $light_gray;

            .item {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;

                p {
                    margin: 60px 0;
                }

                img {
                    margin-top: auto;
                }
            }
        }
    }

    .location {
        position: relative;

        iframe {
            display: none;
            position: absolute;
            top: 0;
        }

        .location_details {
            background: $dark_blue;
            color: #fff;
            padding: 30px 60px;
            z-index: 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;

            .location_logo, .location_place {
                text-align: center;

                p {
                    color: #fff;
                    font-weight: $font-regular;

                    span {
                        font-weight: $font-light;
                        display: block;
                        color: #c3c3c3;
                    }
                }

                img {
                    display: unset;
                }
            }

            .location_other {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            ul {
                padding: 0;

                &:first-of-type {
                    margin-right: 5px;
                }

                &:last-of-type {
                    margin-left: 5px;
                }

                li {
                    @include reset-list;
                    @include reset-anchor;

                    font-size: 14px;
                    font-weight: $font-regular;
                    text-decoration: none;
                    color: #c3c3c3;
                }

                a {
                    @include reset-anchor;
                }
            }
        }
    }
}

@include viewport (tablet) {
    .single_product {
        .location {
            height: 656px;

            iframe {
                display: block;
            }

            .location_details {
                @include centerer;

                left: 70%;
            }
        }
    }
}

@include viewport (desktop) {
    .single_hero {
        img {
            right: 0;
        }
    }

    .single_product {
        .product_info {
            .info_description {
                padding-top: 70px;
            }

            .col-6 {
                @include grid-col(6);
            }

            .price_size {
                .info_table {
                    width: 65%;
                }
            }

            .info_img {
                // display: block;
                // visibility: visible;
                // align-self: stretch;f
            }

            .product_details {
                padding-bottom: 100px;

                .item p {
                    margin: 130px 0;
                }
            }
        }
    }
}