h1, h2, h3, h4, h5, h6 {
	clear: both;
	letter-spacing: 0.01em;
}

h1 {
	color: #fff;
	font-size: 80px;
	font-weight: $font-thin;
	line-height: 1.1;

	@include responsive-font(36, 64);
}

h2 {
	font-size: 40px;
	font-weight: $font-extra-light;
	color: $dark-blue;
	@include responsive-font(28, 32);
}

.no-margin {
	margin: 0;
}

p {
	font-size: 18px;
	color: $text-color;
	font-weight: $font-light;
	letter-spacing: 0.01em;
}